@media (max-width: 576px) {
    /* On small devices, adjust padding for table cells
    .table td, .table th {
      padding: 8px;
    }
   */
    /* Buttons should stack vertically on extra-small screens */
    .btn {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  